@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.headerr{
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #8080804f;
  padding: 6px;
}

.addContact{
  padding-top: 50px;
}
